.container {
  min-width: 300px;
}

.productCount {
  margin-bottom: 10px;
}

.productCount>span {
  font-size: 0.85rem;
  font-weight: 500;
}

.buttonStyle {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 5px 10px;
  /* min-height: 36px;
  min-width: 36px; */
  color: #ffffff;
  background: #008060;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}